/output
/tests/data
/m4/

ABOUT-NLS
config.rpath
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
packages/desktop/aegisub.appdata.xml.template

git_version.h
git_version.xml
packages/win_installer/vendor
tests/*.json
tools/osx-bundle.sed

.DS_Store

# Meson
subprojects/freetype*
subprojects/fribidi
subprojects/harfbuzz
subprojects/libass
subprojects/libpng*
subprojects/packagecache
subprojects/zlib*

build-*/
builddir/